---
import FacultySection from '../components/LinksSection/FacultySection.astro';
import WhiteLink from '../components/LinksSection/WhiteLink.astro';
import MainImage from '../components/MainImage/MainImage.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import UpperNavbar from '../components/Navbar/UpperNavbar.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/png' href='/img/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <script
      src='https://kit.fontawesome.com/10942c11e8.js'
      crossorigin='anonymous'
    ></script>
    <title>UNSTA - Universidad</title>
  </head>
  <body>
    <header>
      <UpperNavbar />
      <Navbar />
    </header>
    <main>
      <MainImage />
      <WhiteLink text='Ingresantes 2023 - Programa de Ingreso Universitario' />
      <FacultySection />
      <WhiteLink text='Vacantes para docentes - Click aqui' />
    </main>
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

  :root {
    --primary: #194da0;
    --primary-darker: #13489c;
    --secondary: #ea5b23;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary);
    color: #ffffff;
  }
</style>
